<a href="<?= $this->url('tasks', ['action' => 'add']) ?>" class="btn btn-success btn-block btn-lg">Add task</a>
<br>
<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Date add</th>
        <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <?php foreach ($tasks as $key => $task): ?>
        <tr>
            <th scope="row"><?= $key + 1 ?></th>
            <td><?= $task->getName() ?></td>
            <td><?= $task->getDateAdd()->format('d.m.Y H:i:s') ?></td>
            <td>
                <div class="btn-group">
                    <a href="<?= $this->url('tasks', ['action' => 'add', 'id' => $task->getId()]) ?>" class="btn btn-xs btn-info">Edit</a>
                    <a href="<?= $this->url('tasks', ['action' => 'delete', 'id' => $task->getId()]) ?>" class="btn btn-xs btn-danger">Delete</a>
                </div>
            </td>
        </tr>
    <?php endforeach; ?>
    </tbody>
</table>
